<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <import resource="classpath:org/projectx/jmx/applicationContext-jmx.xml" />

    <bean id="leaderElectorMonitor"
        class="org.projectx.zookeeper.election.monitor.LeaderElectorMonitor">
        <constructor-arg ref="leaderElector" />
    </bean>
    <bean id="leaderElectorTargetMonitor"
        class="org.projectx.zookeeper.election.monitor.LeaderElectionTargetMonitor">
        <constructor-arg ref="leaderElectionTarget" />
    </bean>

    <bean parent="jmxExporterTemplate">
        <property name="beans">
            <map>
                <entry
                    key="org.projectx.zookeeper.election.monitor.LeaderElectorMonitor:Service=${zookeeper.entity.name}"
                    value-ref="leaderElectorMonitor" />
                <entry
                    key="org.projectx.zookeeper.election.monitor.LeaderElectorTargetMonitor:Service=${zookeeper.entity.name}"
                    value-ref="leaderElectorTargetMonitor" />
            </map>
        </property>
    </bean>
    

</beans>
