<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="classpath:org/projectx/jmx/applicationContext-jmx.xml" />

    <bean id="zkClientMonitor" class="org.projectx.zookeeper.ZookeeperClientMonitor">
        <constructor-arg ref="zkStatsCollector" />
    </bean>

    <bean parent="jmxExporterTemplate">
        <property name="beans">
            <map>
                <entry
                    key="org.projectx.zookeeper.ZookeeperClientMonitor:Service=${zookeeper.entity.name}"
                    value-ref="zkClientMonitor" />
            </map>
        </property>
    </bean>

    <bean id="jmxExporterTemplate" class="org.springframework.jmx.export.MBeanExporter"
        abstract="true">
        <property name="exposeManagedResourceClassLoader"
            value="false" />
    </bean>

</beans>
